#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.form {
  padding: 2em;
  display: flex;
  gap: 25px;
}

.read-the-docs {
  color: #888;
}

.container {
 display: flex;
 

}
